<!-- <div class="timeperformance m-2"> -->

<div class="container m-1 outer" style="background-color: black;">
  <div class="row">
    <p class="heading"> GROUND TIME </p>
    <div class="container">
      <div class="row  " style="justify-content:space-between;">
        <div class="col-5   dom">
          <div> <span>DOM: &le; 45min > 34min</span> </div>
        </div>
        <div class="col-5 dom">IND: 0 45min > 34min</div>
      </div>

    </div>
     <!-- 6 * 2 -->
      <div        class="container" style="height: 160px;">
        <div class="row p-2" style="height: 100%;gap: 1.8%;justify-content: center; color: white;">
          <div class="col-2 cart " style="border: 3px solid rgb(33, 1, 66);border-radius: 8%;">
            <span>DOM</span>
          </div>

          <div class="col-2 time-block" >
            <div class="title">6E</div>
            <div class="time"> <span class="hr">1h</span>  <span  class="min">45min</span></div>

          </div>

          <div class="col-2 time-block" >
            <div class="title">6E</div>
            <div class="time"> <span class="hr">1h</span>  <span  class="min">45min</span></div>

          </div>

          <div class="col-2 time-block">
            <div class="title">6E</div>
            <div class="time"> <span class="hr">1h</span>  <span  class="min">45min</span></div>

          </div>

         <div class="col-2 time-block" >
            <div class="title">6E</div>
            <div class="time"> <span class="hr">1h</span>  <span  class="min">45min</span></div>

          </div>

          <div class="col-2 cart " style="border: 3px solid rgb(33, 1, 66);border-radius: 8%;">INT</div>
          <div class="col-2 time-block" >
            <div class="title">6E</div>
            <div class="time"> <span class="hr">1h</span>  <span  class="min">45min</span></div>

          </div>
          <div class="col-2 time-block" >
            <div class="title">6E</div>
            <div class="time"> <span class="hr">1h</span>  <span  class="min">45min</span></div>

          </div>
          <div class="col-2 time-block" >
            <div class="title">6E</div>
            <div class="time"> <span class="hr">1h</span>  <span  class="min">45min</span></div>

          </div>
          <div class="col-2 time-block" >
            <div class="title">6E</div>
            <div class="time"> <span class="hr">1h</span>  <span  class="min">45min</span></div>

          </div>

        </div>
      </div>

  </div>

</div>

<!-- </div> -->


