<!-- <div class="timeperformance m-2"> -->

    <div class="container m-1 outer" style="background-color: black;">
        <div class="row " style="justify-content: space-evenly;">
          <p class="heading"> WEATHER ANALISIS </p>
          <!-- 6 * 2 -->
          <!-- <div class="container" >
            <div class="row " style="justify-content: space-evenly;" > -->
                 <div class="col-5  lists" >
                 <div class="cloud comanclass">
                     <button class="btn btn-danger">j</button>
                 </div>
                 <div class="temp comanclass">
                  27.04
                 </div>
                </div>
                 <div class="col-5 lists" style="background-color: transparent;">
                  <div class="container">
                    <div class="row  " style="justify-content: space-around;">
                      <div class="col-5 lo">
                          <span class="title">Flelele</span>
                          <span class="temp1">
                            2330
                            
                          </span>
                      </div>
                    
                      <div class="col-5 lo">
                        <span class="title">Flelele</span>
                        <span class="temp1">
                          2330
                          
                        </span>
                    </div>

                      <div class="col-12">
                         <div class="box lo">

                           <span class="speed">Flelele</span>
                           <span class="values">
                             230  
                            </span>
                          </div>

                      </div>

 <div class="col-12">
  <div class="box lo ">

    <span class="speed">Flelele</span>
    <span class="vlaues">
      2330
      
    </span>
  </div>
</div>
</div>
                  </div>
      
                 </div>
            </div>
            
            
          </div>
      
        <!-- </div>
      
      </div> -->
      
      <!-- </div> -->