<!-- <div class="timeperformance m-2"> -->

<div class="container m-1 outer" style="background-color: black;">
    <div class="row">
        <p class="heading"> TAXI ANALISIS </p>
        <!-- 6 * 2 -->
          <div class="container" style="position:relative;">
            <div class="row m-2" style="height: 80%;">
                <div class="col-12  lists">
                    <ul>
                        <li>Avg TAXI TIME </li>
        
                        <li class="mint"> <span>10 min 28 sec</span></li>
                    </ul>
                </div>
                  </div>
            <div class="row " style="height: 60px;justify-content: space-around;">
                <div class="col-5 lists">
                    <ul>
                        <li>27R</li>
        
                        <li>0.00% <span>(0)</span></li>
                    </ul>
                </div>
                <div class="col-5 lists">
                    <ul>
                        <li>27R</li>
        
                        <li>0.00% <span>(0)</span></li>
                    </ul>
                </div>
        
            </div>
          </div>
      
    </div>
</div>

<!-- </div> -->