<!-- <div class="timeperformance m-2"> -->

<div class="container m-1 outer" style="background-color: black;">
  <div class="row">
    <p class="heading"> TSAT ANALISIS </p>
    <div class="col-4">
      <div class="main">
       
          <div class="chart-container">
            <apx-chart [series]="circleOptions.series!" [chart]="circleOptions.chart!"
              [plotOptions]="circleOptions.plotOptions!" [labels]="circleOptions.labels!"
              [fill]="circleOptions.fill!"></apx-chart>
          </div>

        </div>

    </div>
    <div class="col-8  ">
      <div class="container" style="height: 190px;">
        <div class="row px-4" style="height: 100%; color: white;align-items: center; text-align: center;gap: 2.8%;">
          <div class="col-12 cart " style="border: 3px solid rgb(33, 1, 66);border-radius: 6%; background-color: rgb(33, 1, 66);height: 50%;display: flex;align-items: center;">
            <div>  <span class="radios"></span>  > 5 Nov Compliance  </div>
            <div> 3 Flights (759%)  </div>
          </div>
          <div class="col-12 cart " style="border: 3px solid rgb(33, 1, 66);border-radius: 6%; background-color: rgb(33, 1, 66);height: 50%;display: flex;align-items: center;">
            <div><span class="radios"></span> > 5 Nov 3 Flights </div>
            <div>  Compliance  (759%) </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>

</div>

<!-- </div> -->