<!-- <div class="timeperformance m-2"> -->

<div class="container m-1 outer" style="background-color: black;">
  <div class="row">
    <p class="heading"> BAGGAGE DELIVERY </p>
    <div class="alert alert p-1 text-light" style="background-color: #210142;"> <span class="radios"></span>    &lt; 80% <span class="radios1"></span>    ≥ 80%</div>

  <!-- Data Grid -->
  <div class="row m-1 " style="justify-content: space-around;">
    <div class="col-3 p1 text-center fw-bold p-2 ">Flight Type</div>
    <div class="col-3 p1 text-center fw-bold p-2">First Bag</div>
    <div class="col-3  p1 text-center fw-bold p-2">Last Bag</div>
  </div>
  <hr class="bg-light" />

  <div class="row align-items" style="justify-content: space-around;">
    <div class="col-3 text-center p-2 rounded text-light" style="background-color: #210142;">DOM</div>
    <div class="col-3 text-center bg-primary effact text-light rounded p-2">38%</div>
    <div class="col-3 text-center bg-secondary  effact text-light rounded p-2">77%</div>
  </div>

  <div class="row mt-3" style="align-items: center;justify-content: space-around;">
    <div class="col-3 text-center text-light p-2 rounded" style="background-color: #210142;">INT</div>
    <div class="col-3 text-center bg-success  effact text-light rounded p-2">85%</div>
    <div class="col-3 text-center bg-secondary effact  text-light rounded p-2">74%</div>
  </div>

  </div>
</div>

<!-- </div> -->


<div class="chart-container">
</div>
