<div class="container-flude">
  <div class="row  g-2">
    <div class="col-3">
      <app-timeperformance></app-timeperformance></div>
    <div class="col-3">
      <app-groundtime></app-groundtime>
    </div>
    <div class="col-3">
  <app-baggage></app-baggage>
    </div>

    <div class="col-3">
      <app-timeperformance></app-timeperformance>

    </div>

    <div class="col-3">
     <app-runway></app-runway>
    </div>
    <div class="col-3">
      <app-taxi></app-taxi>
    </div>

    <div class="col-3">
      <app-weather></app-weather>
    </div>

    <div class="col-3">
      <app-tsat></app-tsat>
    </div>
  </div>

</div>

