<!-- <div class="timeperformance m-2"> -->

<div class="container m-1 outer" style="background-color: black;">
  <div class="row">
    <p class="heading"> RUNWAY ANALISIS </p>
    <!-- 6 * 2 -->
    <div class="container" >
      <div class="row " style="justify-content: space-around;" >
           <div class="col-5 lists">
            <ul>
              <li>27R</li>
              
              <li>0.00% <span>(0)</span></li>
            </ul>
           </div>
           <div class="col-5 lists">
            <ul>
              <li>27R</li>
              
              <li>0.00% <span>(0)</span></li>
            </ul>

           </div>
      </div>

      <div class="row " style="justify-content: space-around;" >
        <div class="col-5 lists">
         <ul>
           <li>27R</li>
           
           <li>0.00% <span>(0)</span></li>
         </ul>
        </div>
        <div class="col-5 lists">
         <ul>
           <li>27R</li>
           
           <li>0.00% <span>(0)</span></li>
         </ul>

        </div>
   </div>
   <div class="row " style="justify-content: space-around;" >
    <div class="col-5 lists">
     <ul>
       <li>27R</li>
       
       <li>0.00% <span>(0)</span></li>
     </ul>
    </div>
    <div class="col-5 lists">
     <ul>
       <li>27R</li>
       
       <li>0.00% <span>(0)</span></li>
     </ul>

    </div>
</div>
    </div>

  </div>

</div>

<!-- </div> -->